/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.icon-20 {
  font-size: 20px;
}
md-toolbar-row {
  justify-content: space-between;
}
